.rounded-circle{
    width: 8%;
}

.container-fluid{
    background-color:yellowgreen;
}

.form-label{
    font-weight: bold;
}

.modal-content{
    background-color: yellowgreen;
}
.alumna { margin-left: 500pt;
         size: 16px;}

.button{font-weight: bolder;}

